<div id='menu-edit-modal' class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" name="newExpenseForm"  ng-submit="saveExpense()" ng-controller="ModalController">
                <div class="modal-header">
                    <h3>Отредактируйте позицию меню</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="expense-amount">
                            Цена:
                        </label>
                        <input id="expense-amount" name="expenseAmount" class="form-control" placeholder="Enter amount"
                               ng-required maxlength="19"
                               ng-model="currentPosition.amount">

                        <div class="error-container" ng-show="newExpenseForm.expenseAmount.$dirty">
                            <small class="text-danger"
                                   ng-show="newExpenseForm.expenseAmount.$error.required">
                                Amount is required.
                            </small>
                            <small class="text-danger"
                                   ng-show="newExpenseForm.expenseAmount.$invalid && !newExpenseForm.expenseAmount.$error.required">
                                Input is incorrect.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expense-description">
                            Description:
                        </label>
                        <input id="expense-description" name="expenseDescription" class="form-control"
                               placeholder="Enter amount" required maxlength="40"
                               ng-model="currentExpense.description">

                        <div class="error-container" ng-show="newExpenseForm.expenseDescription.$dirty">
                            <small class="text-danger"
                                   ng-show="newExpenseForm.expenseDescription.$error.required">
                                Description is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expense-comment">
                            Comment:
                        </label>
                        <input id="expense-comment" name="expenseComment" class="form-control"
                               placeholder="Enter comment" maxlength="40"
                               ng-model="currentExpense.comment">

                    </div>
                    <div class="form-group">
                        <label>
                            Date:
                        </label>

                        <div class="input-group date" datepicker>
                            <input type="text" class="form-control" ng-model="currentExpense.date"
                                   data-date-format="YYYY-MM-DD">
                <span class="input-group-addon" id="request-date-btn1">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                        </div>

                        <div class="error-container" ng-show="newExpenseForm.expenseDate.$dirty">
                            <small class="text-danger"
                                   ng-show="newExpenseForm.expenseDate.$error.required">
                                Date is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expense-time">
                            Time:
                        </label>
                        <input id="expense-time" name="expenseTime" class="form-control" placeholder="HH:MM" required
                               maxlength="5"
                               ng-model="currentExpense.time">

                        <div class="error-container">
                            <small class="text-danger"
                                   ng-show="newExpenseForm.expenseTime.$error.required">
                                Time is required
                            </small>
                            <small class="text-danger"
                                   ng-show="currentExpenseTimeInvalid">
                                Time format should be HH:MM
                            </small>
                        </div>
                    </div>
                    <!--<div>-->
                    <!--{{newExpenseForm.$valid}}-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--{{newExpenseForm}}-->
                    <!--</div>-->
                    <!--<div>-->
                    <!--{{myForm}}-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn"
                            ng-disabled="!newExpenseForm.$valid">Save
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>