.my-page-header{
    height: 50px;
    background-color: rgb(119, 125, 255);
}
.page-menu{
    /*width:200px;*/
    background-color: rgb(198, 207, 255);
    float: left;
}
.menu-item-active{
    background-color: rgb(255, 255, 255);
}
.my-content{
}

#not-header{
    clear:both;
}

.dropdown-div .dropdown-ul{
    display:none;
    position: fixed;
}
.dropdown-div:hover .dropdown-ul{
    display:block;
}
.dropdown-div{
    height: 100%;
}
.my-page-header div div:hover{
    background-color: rgb(198, 207, 255);
}