<div style="margin-top: 10em; text-align: center " class="col-lg-4 col-lg-offset-4">
    <div ng-show="isSuccess" style="color: green;">
        Теперь вы можете зайти под своим логином и паролем
    </div>
    <div>
        Добро пожаловать в административную панель
    </div>
    <form >
        <div class="row">
            <input ng-model="credentials.login" class="form-control" placeholder="Имя пользователя"></input>
        </div>
        <div class="row">
            <input type="password" ng-model="credentials.password" class="form-control" placeholder="Пароль"></input>
        </div>
        <div class="row">
            <input type="button" class="form-control" value="Вход" ng-click="loginF()"></input>
        </div>
        <div ng-show="error" class="text-danger">
            {{error}}
        </div>
    </form>
    {{loginF}}
    <div>
        <small>
            Вы можете <a href="#/signUp">зарегистрироваться</a>
        </small>
    </div>
</div>