<div set-active-tab tab-id="'menu'"></div>
<div class="row">
    <div class="h2 col-lg-8"> Меню ООО Ромашка
        <button class="btn btn-sm btn-primary" ng-click="editMenuItem()">
            [+]
        </button>
    </div>
</div>

<div class="order-table panel panel-default">
    <table class="table table-striped">
        <thead>
        <th>
            №
        </th>
        <th>
            Название
        </th>
        <th>
            Доп. параметры
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Действия
        </th>

        </thead>
        <tbody>
        <tr ng-repeat="menuItem in menuItems">
            <td>
                {{$index}}
            </td>
            <td>
                {{menuItem.name}}
            </td>
            <td>
                <ul ng-repeat="custom in menuItem.customs">
                    {{custom.name}}<span ng-show="!custom.variants || custom.variants.length == 0"> -- {{custom.price}}</span>
                    <div ng-show="custom.variants">
                        <li ng-repeat="item in custom.variants">
                            {{item.name}} -- {{item.price}}
                        </li>
                    </div>
                </ul>

            </td>
            <td>
                {{menuItem.price}} руб.
            </td>
            <td>
                <button class="btn btn-sm btn-primary" ng-click="editMenuItem($index)">E</button>
                <button class="btn btn-sm btn-primary" ng-click="deleteMenuItem($index)">X</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<div id='menu-edit-modal' class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" name="menuEditModal" ng-submit="saveItem()">
                <div class="modal-header">
                    <h3>Изменение пункта меню</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-name">
                                Название:
                            </label>
                        </div>
                        <div class="col-lg-8">

                            <input id="menu-item-name" name="menuItemName" class="form-control"
                                   placeholder="Название" required
                                   ng-model="currentMenuItem.name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-description">
                                Описание:
                            </label>
                        </div>
                        <div class="col-lg-8">
                            <textarea rows="4" id="menu-item-description" name="menuItemDescription"
                                      class="form-control"
                                      placeholder="Описание" required
                                      ng-model="currentMenuItem.description"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-price">
                                Цена{{currentMenuItem.customs ? ' без
                                дополнений':''}}
                            </label>
                        </div>
                        <div class="col-lg-8">
                            <input id="menu-item-price" name="menuItemPrice" placeholder="Цена" class="form-control"
                                   required
                                   ng-model="currentMenuItem.price"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-price">
                                {{currentMenuItem.customs ? 'Дополнения: ':'Дополнений
                                нет:'}}
                            </label>
                            <span class="btn btn-sm btn-primary" ng-click="addCustomMenuItem()">+</span>
                        </div>
                    </div>


                    <table width="100%" class="table table-striped">
                        <thead>
                        <th>
                            Название
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            &nbsp;&nbsp;&nbsp;
                        </th>
                        </thead>
                        <tbody>
                        <tr ng-repeat='custom in currentMenuItem.customs'>
                            <td ng-show="!custom.editing" ng-click="custom.editing = true;">
                                {{custom.name}}
                            </td>
                            <td ng-show="!custom.editing" ng-click="custom.editing = true;">
                                {{custom.price}}
                            </td>
                            <td ng-show="custom.editing">
                                <input class="form-control" ng-model="custom.name"/>
                            </td>
                            <td ng-show="custom.editing">
                                <input class="form-control" ng-model="custom.price"/>
                            </td>
                            <td>
                                <button type="button" ng-show="custom.editing" ng-click="custom.editing = false"
                                        class="btn btn-sm btn-primary" ng-click="custom.editing=false;">OK
                                </button>
                                <button type="button" ng-show="!custom.editing" ng-click="custom.editing = false"
                                        class="btn btn-sm btn-primary" ng-click="deleteCustomMenuItem($index)">X
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <div ng-repeat="custom in currentMenuItem.customs">
                        <div>
                            <label>
                                Варианты на выбор для "{{custom.name}}"
                            </label>
                            <button type="button"
                                    class="btn btn-sm btn-primary" ng-click="addCustomMenuItemVariant($index)">
                                +
                            </button>
                        </div>
                        <div ng-show="!custom.variants || custom.variants.length == 0">
                            Отсутствуют
                        </div>
                        <div ng-show="custom.variants">
                            <table width="100%" class="table table-striped">
                                <thead>
                                <th>Название</th>
                                <th>Цена</th>
                                <th>&nbsp;&nbsp;&nbsp;</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="variant in custom.variants">
                                    <td ng-show="!variant.editing" ng-click="variant.editing = true;">
                                        {{variant.name}}
                                    </td>
                                    <td ng-show="!variant.editing" ng-click="variant.editing = true;">
                                        {{variant.price}} руб.
                                    </td>

                                    <td ng-show="variant.editing">
                                        <input class="form-control" ng-model="variant.name"/>
                                    </td>
                                    <td ng-show="variant.editing">
                                        <input class="form-control" ng-model="variant.price"/>
                                    </td>
                                    <td ng-show="variant.editing">
                                        <button type="button" class="btn btn-sm btn-primary"
                                                ng-click="variant.editing = false;">
                                            OK
                                        </button>
                                    </td>
                                    <td ng-show="!variant.editing">
                                        <button type="button" class="btn btn-sm btn-primary"
                                                ng-click="deleteCustomMenuItemVariant($index)">
                                            X
                                        </button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="saveItem()" class="btn btn-sm" data-dismiss="modal">Подтвердить
                    </button>
                    <button type="button" class="btn btn-sm" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>