<div>
    <form ng-submit="singUp()" id="signUpForm" name="signUpForm">
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="name">
                    Название предприятия:
                </label>
            </div>
            <div class="col-lg-4">
                <input id="name" name="name" class="form-control"
                       placeholder="Название предприятия" required
                       ng-model="newUser.name"/>
            </div>
        </div>
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="contactName">
                    ФИО контактного лица:
                </label>
            </div>
            <div class="col-lg-4">
                <input id="contactName" name="contactName" class="form-control"
                       placeholder="ФИО контактного лица" required
                       ng-model="newUser.contactName"/>
            </div>
        </div>
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="phone">
                    Телефон:
                </label>
            </div>
            <div class="col-lg-4">
                <input id="phone" name="phone" class="form-control"
                       placeholder="Телефон" required
                       ng-model="newUser.phone"/>
            </div>
        </div>
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="email">
                    E-mail:
                </label>
            </div>
            <div class="col-lg-4">
                <input id="email" name="email" class="form-control"
                       placeholder="Электронная почта" required
                       ng-model="newUser.email"/>
            </div>
        </div>
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="username">
                    Имя пользователя:
                </label>
            </div>
            <div class="col-lg-4">
                <input id="username" name="username" class="form-control"
                       placeholder="Username" required
                       ng-model="newUser.username"/>
            </div>
        </div>
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="password">
                    Пароль:
                </label>
            </div>
            <div class="col-lg-4">
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="Пароль" required
                       ng-model="newUser.password"/>
            </div>
        </div>
        <div class="form-group row col-offset-lg-2">
            <div class="col-lg-4">
                <label for="password2">
                    Повторите пароль:
                </label>
            </div>
            <div class="col-lg-4">
                <input type="password" id="password2" name="password2" class="form-control"
                       placeholder="Повторите пароль" required
                       ng-model="newUser.password2"/>
            </div>
        </div>
        <button class="btn btn-sm btn-primary" type="button"
               ng-disabled="signUpForm.$error.required" ng-click="signUp()"
               >Зарегистрироваться
            </button>

    </form>
</div>