<div set-active-tab tab-id="'menu'"></div>
<div>
    <button class="btn" ng-click="editMenuItem()">
        Добавить позицию
    </button>
</div>
<div class="order-table">
    <div ng-repeat='menuItem in menuItems' class="order-item">
        * {{menuItem.name}}
        <button ng-click="deleteMenuItem($index)">X</button>
        <button ng-click="editMenuItem($index)">E</button>
        <div ng-repeat="custom in menuItem.customs">
            &nbsp; -- {{custom.name}}
            <div ng-repeat="item in custom.list">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x {{item.name}} {{item.price}}
            </div>
        </div>
    </div>

</div>

<div id='menu-edit-modal' class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" name="menuEditModal" ng-submit="submitMenuEdit()">
                <div class="modal-header">
                    <h3>Изменение пункта меню</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-name">
                                Название:
                            </label>
                        </div>
                        <div class="col-lg-8">

                            <input id="menu-item-name" name="menuItemName" class="form-control"
                                   placeholder="Название" required
                                   ng-model="currenMenuItem.name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-description">
                                Описание:
                            </label>
                        </div>
                        <div class="col-lg-8">
                            <textarea rows="4" id="menu-item-description" name="menuItemDescription" class="form-control"
                                   placeholder="Описание" required
                                   ng-model="currenMenuItem.description"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-price">
                                Цена{{currentMenuItem.customs ? ' без
                                дополнений':''}}
                            </label>
                        </div>
                        <div class="col-lg-8">
                            <input id="menu-item-price" name="menuItemPrice" class="form-control"
                                   required
                                   ng-model="currentMenuItem.price"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{currentMenuItem.customs ? 'Дополнения: ':'Дополнений
                        нет:'}}
                        <span class="btn" ng-click="addCustomMenuItem()">Добавить +</span>
                    </div>
                    <div ng-repeat='custom in currentMenuItem.customs' class="order-item">
                        <div ng-show="!custom.editing">
                            <div ng-click="custom.editing = true;">
                                = {{custom.name}} <span ng-show="!custom.vars "> : {{custom.price}}</span>
                                <span ng-click="deleteCustomMenuItem($index)">X</span>
                            </div>
                            <div>
                                <span class="btn" ng-click="addCustomMenuItemVariant($index)">Добавить варианты</span>

                                <div ng-repeat='variant in custom.variants'>
                                    == <span ng-show="!variant.editing" ng-click="variand.editing = true">{{variant.name}} : {{variant.price}}</span>
                                    <span ng-show="variant.editing"><input ng-model="variant.name"><input
                                            ng-model="variant.price"></span> <span class="btn" ng-click="variant.editing = false">OK</span>
                                    <span ng-click="deleteCustomMenuItemVariant($parent.$index, $index)">X</span>
                                </div>

                            </div>
                        </div>
                        <div ng-show="custom.editing">
                            <input ng-model="custom.name"></input> : <input ng-model="custom.price"></input> <span class="btn" ng-click="custom.editing = false">OK</span>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn" data-dismiss="modal">Подтвердить
                        </button>
                        <button type="button" class="btn" data-dismiss="modal">Отменить</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<div id='menu-edit-custom-modal' class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" name="menuEditModal" ng-submit="submitMenuEdit()">
                <div class="modal-header">
                    <h3>Изменение пункта меню</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="menu-item-name">
                                Название:
                            </label>
                        </div>
                        <div class="col-lg-8">

                            <input id="menu-item-name" name="menuItemName" class="form-control"
                                   placeholder="Название" required
                                   ng-model="currenMenuItem.name"/>
                        </div>
                    </div>
                    <div class="form-group row" ng-show="currentMenuItem.selection">


                    </div>

                    <div class="form-group row">
                        <div class="col-lg-4">
                            {{currentMenuItem.customs && currentMenuItem.customs.length > 0 ? 'Дополнения: ':'Дополнений
                            нет:'}}
                        </div>
                        <div class="col-lg-8">
                            <span class="btn" ng-click="addCustomMenuItem()">Добавить +</span>
                        </div>
                    </div>
                    <div ng-repeat='custom in currentMenuItem.customs' class="order-item">
                        <div ng-show="!custom.editing">
                            {{custom.name}} : {{custom.price}}
                        </div>
                        <div ng-show="custom.editing">
                            <input ng-model="custom.name"/> : <input ng-model="custom.price"/>
                        </div>

                        <button ng-click="deleteCustomMenuItem($index)">X</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn" data-dismiss="modal">Подтвердить
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>