<div set-active-tab tab-id="'orders'"></div>
<div class="order-table">
    <div class="row order-item" ng-repeat="order in orders" style="border-style: solid">
        <div class="col-lg-2">
            {{order.id}}
        </div>
        <div class="col-lg-2" ng-show="order.status == 'paid'">
            <button class="btn" ng-click="closeOrder(order.id)">Закрыть заказ</button>
        </div>
        <div class="col-lg-2" ng-show="order.status == 'new'">
            <button class="btn" ng-click="openConfirmOrderModal($index)">Подтвердить заказ</button>
        </div>
        <div class="col-lg-4">
            <ul>
                <li ng-repeat="orderItem in order.orders">
                    {{orderItem.name}} x {{orderItem.count}}
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            {{order.sum}} руб.
        </div>
    </div>

</div>

<div id='confirm-order-modal' class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" name="confirmOrderForm" ng-submit="confirmOrder()">
                <div class="modal-header">
                    <h3>Необходимо подтвердить заказ!</h3>
                </div>
                <div class="modal-body">
                    <div>
                        Телефон клиента: {{currentOrder.user.phone}}
                    </div>
                    <div>
                        Имя клиента: {{currentOrder.user.surname}}
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="order-comments">
                                Пожелания:
                            </label>
                        </div>
                        <div class="col-lg-8">

                            <textarea rows="4" id="order-comments" name="orderComments" class="form-control"
                                   placeholder="Комментарий по заказу" maxlength="40"
                                   ng-model="currentOrder.comments"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn" data-dismiss="modal">Подтвердить
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>