<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.providers</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>ru.vmakarenko.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy-->
        <!--</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/api/private*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--security-->

    <!--<security-constraint>-->
        <!--<display-name>protected-pages</display-name>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>protected-pages</web-resource-name>-->
            <!--<url-pattern>/api/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>restaurant</role-name>-->
        <!--</auth-constraint>-->
        <!--<user-data-constraint>-->
            <!--<transport-guarantee>NONE</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->

    <!--<login-config>-->
        <!--<auth-method>BASIC</auth-method>-->
        <!--<realm-name>jdbcRealm</realm-name>-->
    <!--</login-config>-->

    <!--<security-role>-->
        <!--<role-name>user</role-name>-->
    <!--</security-role>-->

    <!--<security-role>-->
        <!--<role-name>restaurant</role-name>-->
    <!--</security-role>-->
</web-app>
