<header class="my-page-header row" ng-controller='HeaderController'>
    <div class="col-lg-8">
        <h3>Административная панель</h3>
    </div>
    <div class="col-lg-4">
        <div class="btn" ng-click="sendReport()">
            Сообщить об ошибке
        </div>
        <div class="btn">
            Уведомления ({{notifTotal}})
            <ul ng-show="false">
                <li ng-repeat="notif in notifs">
                    <span  ng-click="openNotif($index)">{{$index}}. {{notif.text}}</span>
                </li>
            </ul>

        </div>
        <div class="btn" ng-click="exit()">
            Выход
        </div>
    </div>

</header>